.is_code {
    font-family: 'Courier New', Courier, monospace;
}

.fullwidth {
    width: 100%;
}

.italic {
    font-style: italic;
}

.rsa-grid-1 {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.hint {
    font-size: 70%;
}

.centred-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
